# A randomly generated secret key for your local setup
SECRET_KEY_BASE=<%= SecureRandom.hex(64) %>

# Replace with your your local DB
DATABASE_URL: postgresql://localhost:5432/<%= app_name %>

# Local Redis DB URL
REDIS_URL=redis://localhost:6379/
